body {
	background-color: rgb(61,180,193);
}

.arrow {
	max-width: 15%;
	position: fixed;
}

.stats {
	position: fixed;
}

#left {
	left: 64%;
	top: 20%;
}

#right {
	right: 0px;
	top: 20%;
}

#down {
	top: 40%;
	left: 75%;
}

#up {
	top: 0px;
	left: 75%;
}

#rules {
	max-width: 35%;
	right: 5%;
	top: 5%;
	font-size: 30px;
}
