body {
	background-color: rgb(61,180,193);
}

.arrow {
	max-width: 15%;
	position: fixed;
}

.stats {
	position: fixed;
}

#left {
	left: 64%;
	top: 20%;
}

#right {
	right: 0px;
	top: 20%;
}

#down {
	top: 40%;
	left: 75%;
}

#up {
	top: 0px;
	left: 75%;
}

#stats {
	max-width: 20%;
	right: 5%;
	top: 15%;
	font-size: 30px;
	background-color: rgb(80,180,193);
}

#rules {
	max-width: 35%;
	right: 5%;
	top: 15%;
	font-size: 20px;
	background-color: rgb(80,180,193);
}

#exit-button {
	display: none;
	position: fixed;
	bottom: 15%;
	left: 20%;
}