body {
	background-color: rgb(61,180,193);
}


.arrow {
	width: 30%;
	position: fixed;
}

#left {
	left: 10%;
	bottom: 10%;
}

#right {
	right: 10%;
	bottom: 10%;
}

#down {
	bottom: 0px;
	left: 35%;
}

#up {
	bottom: 20%;
	left: 35%;
}

