body {
	background-color: rgb(137,37,37);
}

h1 {
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: 900;
	font-size: 55px;
	text-align: center;
}

h2 {
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#logo {
	width: 100%;
	display: block;
	margin: auto;
}

#leaderBoard {
	width: 80%;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

#login {
	width: 80%;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

#register {
	width: 80%;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}
