body {
	background-color: rgb(37,37,37);
}

h1 {
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: 900;
	font-size: 55px;
	text-align: center;
}

h2 {
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#logo {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}



#leaderBoard {
	width: 80;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
}

#userStats {
	width: 80%;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
}

#login {
	width: 80%;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
}

#register {
	width: 80%;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 10px;
}
