body {
	background-color: rgb(37,37,37);
}

h1 {
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: 900;
	font-size: 55px;
	text-align: center;
}

h2 {
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

#logo {
	max-width: 70%;
	display: block;
	margin: 0 auto;
}

fieldset.stats {
	display: inline;
}

#start {
	width: 35%;
	font-family: 'Orbitron';
	background-color: rgb(61,180,193);
	color:(0,0,0);
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin-left: 35%;
	margin-top: 3%;
}

#userStats {
	width: 30%;
	font-family: 'Orbitron';
	color: rgb(61,180,193);
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	margin-left: 40%;
	margin-top: 3%;

}


